/* resetar o css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
h2, p{
    text-align: center;
}
header{
    background-color: purple;
    color: white;
    padding: 75px;
}
main{
    height: 600px;
    background-color: blanchedalmond;
}